.logosapo{
  max-height: 60px;
  max-width: 60px;
  background-color: white;
  border-radius: 500px;
  box-shadow: 0px 2px 6px rgb(56, 56, 56);
}

.borde{
  border-left: 1px solid rgb(211, 211, 211);
  margin-left: 10px;
  padding-left: 10px;
}

.nav-link:hover{
  background-color: #fdfdfd33;
  border: none;
  color: black;
  opacity: 1;
  transition: 0.3s;
  border-radius: 10px;
}

.boton{
  background-color: white;
  border: none;
  color: black;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 5px;
}

.boton:hover{
  background-color: gray;

}

.navbar{
  background-color: black;
}

.loginButton{
  font-size: 110%;
  border: white 1px solid;
  border-radius: 10px 10px 10px 10px;
}

@media (max-width: 600px) {
  .nav-item{
    border-left: 0px;
    padding-left: 0px;
    margin-left: 20px;
  }

  .borde{
    padding-left: 0px;
    margin-right: -20px;
  }

  .loginButton{
    font-size: 110%;
    border: white 1px solid;
    border-radius: 10px 10px 10px 10px;
    width: 150px;
    text-align: center;
    margin-top: 10px;
  }
}
