<div class="card m-2" style="width: 100%;">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/original{{ movie.poster_path}}"
        alt="Imagen {{ movie.title }}">
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="card-body col">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p><strong>Original title:</strong> {{ movie.original_title }}</p>
        <p><strong>Overview:</strong></p>
        <p>{{ movie.overview }}</p>
        <p><strong>Genres:</strong></p>
          <ul>
            <li *ngFor="let g of movie.genres">{{ g.name }}</li>
          </ul>
        <p><strong>Release date:</strong> {{ movie.release_date }}</p>
        <p><strong>Vote Count:</strong> {{ movie.vote_count }}</p>
      </div>
    </div>
  </div>
</div>
