#register .container #register-row #register-column #register-box {
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: 600px;
  padding-top: 25px;
  height: 550px;
  border: 1px solid white;
  border-radius: 2%;
}

#register .container #register-row #register-column #register-box #register-form {
  padding: 20px;
}

."" {
  color: white;
}

.btn-custom {
  background-color: rgb(21, 122, 255);
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 5px;
  margin-bottom: 10rem !important;
}

.btn-custom:hover {
  background-color: rgb(12, 68, 141);
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  border-radius: 5px;
  margin-bottom: 10rem !important;
}
